
<div class="container">
    <app-vista-titulo titulo="{{titulo}}" ></app-vista-titulo>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
        <div class="col text-center my-2">
            <a
            routerLink="/Alertas/Bitacoras"
            class="btn btn-primary w-100 bg-mycolorprimary">
            Bitacoras
        </a>
    </div>
    <div class="col text-center my-2">
        <a
        routerLink="/Alertas/Documentos"
        class="btn btn-primary w-100 bg-mycolorprimary">
        Alerta2
    </a>
    </div>
    <div class="col text-center my-2">
        <a
        routerLink=""
        class="btn btn-primary w-100 bg-mycolorprimary">
        Alerta3
    </a>
    </div>
    </div>

</div>









