<nav class="navbar navbar-expand navbar-light navbar-dark bg-mycolorprimary" >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
      aria-label="Toggle navigation"
      >
      <i class="fas fa-bars"></i>
    </button>
  
    <!-- Collapsible wrapper -->
    <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarSupportedContent"
    >
    <!-- Left links -->
    <ul class="navbar-nav mb-2 justify-content-center mb-lg-0">
      <li class="nav-item mx-1">
        <a class="nav-link" aria-current="page"  routerLink="/"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Inicio"
        >
          <i class="fa-solid fa-house icono_grande"></i> <!--INICIO-->
        </a>
      </li>
  
      <li class="nav-item mx-1">
        <a class="nav-link" aria-current="page" routerLink="/MenuAlertas"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Alertas"
        >
          <i class="fa-solid fa-triangle-exclamation icono_grande"></i> <!--ALERTAS-->
        </a>
      </li>
  
      <li class="nav-item mx-1">
        <a class="nav-link"
          aria-current="page"
          routerLink="MenuConfiguracion"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Inicio"
        >
          <i class="fa-solid fa-gears icono_grande"></i> <!--CONFIGURACION-->
        </a>
      </li>
  
      <li class="nav-item mx-1">
        <a class="nav-link"
          aria-current="page"
          href="http://localhost/AcerosDelNayar/index.php?view=homepage"
          data-toggle="tooltip"
          data-placement="bottom"
          data-bs-custom-class="custom-tooltip"
          title="Cerrar sesion"
        >
          <i class="fa-solid fa-door-open icono_grande"></i> <!--SALIR-->
        </a>
      </li>
  
  
    </ul>
    <!-- Left links -->
  </div>
  <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
  </nav>
  