.btn {
  background-color: var(--mycolorprimary);
  color: white;
}

.btn:hover {
  background-color: #08207ccc;
}

.active-link {
  background-color: white !important;
}

.active-link i {
  color: var(--mycolorprimary) !important;
}

