<div class="container mx-auto">
  <div class="flex justify-center space-x-4 mt-3">
    <a routerLink=""
       routerLinkActive="active-link animate-pulse"
       [routerLinkActiveOptions]="{ exact: true }"
       class="p-3 btn btn-mycolorprimary shadow-sm rounded-full"
       data-toggle="tooltip"
       data-placement="bottom"
       title="Inicio"
       aria-label="Inicio"
       style="max-width: 60px;">
       <i class="fa-solid fa-paper-plane text-2xl"></i>
    </a>
    <a routerLink="MenuAlertas"
       routerLinkActive="active-link animate-pulse"
       class="p-3 btn btn-mycolorprimary shadow-sm rounded-full"
       data-toggle="tooltip"
       data-placement="bottom"
       title="Alertas"
       aria-label="Alertas"
       style="max-width: 60px;">
       <i class="fa-solid fa-paper-plane text-2xl"></i>
    </a>
    <a routerLink="MenuConfiguracion"
       routerLinkActive="active-link animate-pulse"
       class="p-3 btn btn-mycolorprimary shadow-sm rounded-full"
       data-toggle="tooltip"
       data-placement="top"
       title="Menu Configuración"
       aria-label="Menu Configuración"
       style="max-width: 60px;">
       <i class="fa-solid fa-paper-plane text-2xl"></i>
    </a>
    <a routerLink="Alertas/Documentos"
       routerLinkActive="active-link animate-pulse"
       class="p-3 btn btn-mycolorprimary shadow-sm rounded-full"
       data-toggle="tooltip"
       data-placement="top"
       title="Alertas/Documentos"
       aria-label="Alertas/Documentos"
       style="max-width: 60px;">
       <i class="fa-solid fa-paper-plane text-2xl"></i>
    </a>
    <a routerLink="#"
       routerLinkActive="active-link animate-pulse"
       class="p-3 btn btn-mycolorprimary shadow-sm rounded-full"
       data-toggle="tooltip"
       data-placement="top"
       title="Acceso rápido"
       aria-label="Acceso rápido"
       style="max-width: 60px;">
       <i class="fa-solid fa-paper-plane text-2xl"></i>
    </a>
    <a routerLink="#"
       routerLinkActive="active-link animate-pulse"
       class="p-3 btn btn-mycolorprimary shadow-sm rounded-full"
       data-toggle="tooltip"
       data-placement="top"
       title="Acceso rápido"
       aria-label="Acceso rápido"
       style="max-width: 60px;">
       <i class="fa-solid fa-paper-plane text-2xl"></i>
    </a>
  </div>
</div>
