
<div class="container">

  <div class="d-flex justify-content-center ">
      <a routerLink=""
      class="p-3 mt-3 btn btn-primary shadow-sm mx-2 rounded-circle bg-mycolorprimary"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Inicio"
      style="max-width: 60px;">
       <i class="fa-solid fa-paper-plane text-light"></i>
   </a>
   <a routerLink="MenuAlertas"
      class="p-3 mt-3 btn btn-primary shadow-sm mx-2 rounded-circle bg-mycolorprimary"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Alertas"
      style="max-width: 60px;">
       <i class="fa-solid fa-paper-plane text-light"></i>
   </a>

      <a routerLink="MenuConfiguracion"
      class="p-3 mt-3 btn btn-primary shadow-sm mx-2 rounded-circle bg-mycolorprimary"
      data-toggle="tooltip"
      data-placement="top"
      title="Menu Configuración"
      style="max-width: 60px;">
          <i class="fa-solid fa-paper-plane text-light"></i>
      </a>
      <a routerLink="Alertas/Documentos"
      class="p-3 mt-3 btn btn-primary shadow-sm mx-2 rounded-circle bg-mycolorprimary"
      data-toggle="tooltip"
      data-placement="top"
      title="Alertas/Documentos"
      style="max-width: 60px;">
          <i class="fa-solid fa-paper-plane text-light"></i>
      </a>
      <a routerLink="#"
      class="p-3 mt-3 btn btn-primary shadow-sm mx-2 rounded-circle bg-mycolorprimary"
      data-toggle="tooltip"
      data-placement="top"
      title="Acceso rapido"
      style="max-width: 60px;">
          <i class="fa-solid fa-paper-plane text-light"></i>
      </a>
      <a routerLink="#"
      class="p-3 mt-3 btn btn-primary shadow-sm mx-2 rounded-circle bg-mycolorprimary"
      data-toggle="tooltip"
      data-placement="top"
      title="Acceso rapido"
      style="max-width: 60px;">
          <i class="fa-solid fa-paper-plane text-light"></i>
      </a>
  </div>
</div>
