
<div class="container">
    <app-vista-titulo titulo="{{titulo}}" ></app-vista-titulo>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
        <div class="col text-center my-2">
            <a
            routerLink="/Alertas/bitacoras/Modificaciondecomprasbitacora"
            class="btn btn-primary w-100 bg-mycolorprimary">
                Modificaciones de compras
            </a>
        </div>

        <div class="col text-center my-2">
            <a
            routerLink="/Alertas/bitacoras/CancelacionesDeComprasBitacora"
            class="btn btn-primary w-100 bg-mycolorprimary">
                Cancelacion de compras
            </a>
        </div>

        <div class="col text-center my-2">
            <a
            routerLink="/Alertas/bitacoras/CancelacionesdefacturaRemisionNotadeventa"
            class="btn btn-primary w-100 bg-mycolorprimary">
                Cancelacion de Facturas/Remisiones/Notas de ventas
            </a>
        </div>

        <div class="col text-center my-2">
            <a
            routerLink="/Alertas/bitacoras/EliminacionDeDocumentosNotasRemisiones"
            class="btn btn-primary w-100 bg-mycolorprimary">
                Eliminación de documentos Notas/Remisiones
            </a>
        </div>
    </div>
    
</div>









